
body {
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

#container {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

